@import "./vars.css";
body{
  margin:0;padding: 0;
}

.fs_42{
  font-size: 42px;
}

.fs_14{
  font-size: 14px;
}

.header{
  width: 100%;
  text-align: center;
}

.quote{
  composes: fs_14;
  color: rgba(0, 0, 0, 0.5);
}

.name{
  composes: fs_42;
  color: $color_title;
}